.sidebar {
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
  
}


.sidebar-link {
  font-family: Roboto,Arial;
  font-size: 10px;
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.sidebar-link img {
  height: 24px;
  margin-bottom: 7px;
}

.sidebar-link:hover {
  background-color: rgb(244, 241, 241);
} 




@media (max-width: 580px){
  .sidebar {
    left: -100px;
  }

  body {
    padding-left: 10px;
    padding-right: 10px;
  }
  
}